altgraph==0.17
aniso8601==8.0.0
APScheduler==3.6.3
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
Automat==20.2.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.4
bs4==0.0.1
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
click==7.1.1
codeclimate-test-reporter==0.2.3
colorama==0.4.1
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.4
coveralls==1.8.2
cryptography==2.9
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
dj-database-url==0.5.0
django>=2.2.13
django-admin-honeypot==1.1.0
django-background-tasks==1.2.5
django-compat==1.0.15
django-defender==0.7.0
django-heroku==0.3.1
django-otp==0.9.0
django-rest-swagger==2.2.0
django-secure==1.0.2
djangorestframework==3.10.3
docopt==0.6.2
entrypoints==0.3
flake8==3.7.9
Flask==1.1.1
Flask-RESTful==0.3.8
get-retries==0.1.1
get-wayback-machine==0.1.2
gunicorn==19.9.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.23
incremental==17.5.0
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
itypes==1.1.0
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.5.0
macholib==1.14
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
modulegraph==0.18
more-itertools==7.2.0
mysql==0.0.2
mysql-connector==2.2.9
mysqlclient==1.4.6
nbconvert==5.6.1
nbformat==4.4.0
notebook==6.1.5
numpy==1.17.4
openapi-codec==1.3.2
packaging==19.2
pandas==0.25.3
pandocfilters==1.4.2
parsel==1.5.2
parso==0.5.1
pickleshare==0.7.5
Pillow>=6.2.2
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
Protego==0.1.16
psycopg2==2.8.3
py==1.8.0
py2app==0.21
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
PyDispatcher==2.0.5
pyflakes==2.1.1
Pygments==2.4.2
PyHamcrest==2.0.2
pylint==2.4.4
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyowm==2.3.2
pyparsing==2.4.5
pyrsistent==0.15.6
pytest==5.3.0
pytest-cov==2.8.1
python-coveralls==2.9.3
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.1
qrcode==6.1
qtconsole==4.6.0
queuelib==1.5.0
redis==3.4.1
requests==2.22.0
scikit-learn==0.21.3
scipy==1.3.3
Scrapy==2.0.1
scrapy-wayback-machine==1.0.0
seaborn==0.9.0
Send2Trash==1.5.0
service-identity==18.1.0
simplejson==3.17.0
six==1.13.0
sklearn==0.0
soupsieve==2.0
SQLAlchemy==1.3.15
sqlparse==0.3.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
traitlets==4.3.3
Twisted==20.3.0
typed-ast==1.4.0
tzlocal==2.0.0
uritemplate==3.0.0
urllib3==1.25.7
virtualenv==16.7.8
w3lib==1.21.0
wayback-machine-scraper==1.0.7
waybackpack==0.3.5
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.0
whitenoise==4.1.3
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==0.6.0
zope.interface==5.1.0
